.navigation{
    &__checkbox{
        display: none;
    }
    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right:  6rem;
        z-index: 11;

        box-shadow: 0 1.5rem 3rem rgba($color-black , .1);
        text-align: center;
        cursor: pointer;
    } 
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right:  6.5rem;
        background-image: radial-gradient(
            $color-primary-dark ,
            $color-primary-light

        );
        z-index: 9;
        // transform: scale(80);
        transition: transform .8s;
    } 
    &__nav{

        height: 100vh;
        // background-image: radial-gradient(
        //     $color-primary-dark ,
        //     $color-primary-light

        // );
        position: fixed;
        top: 0;
        right: 0;
        z-index: 10;

        // animation
        opacity: 0;
        width: 0;

        transition: all .8s;
    }
    &__list{
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        list-style: none;
        text-align: center;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,&:visited{
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 2rem;

            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;

            background-image: linear-gradient(
                120deg ,
                transparent 0%,
                transparent 50%,
                $color-white 50%

            );
            background-size: 230%;
            transition: all .4s;
        }

        &:hover,&:active{
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        span{
            margin-right: 1rem;
            display: inline-block;
        }
    }


    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav{
        width: 100%;
        opacity: 1;
    }


    &__icon{
        position: relative;
        margin-top: 3.5rem;
        &,
        &::after,
        &::before{

            width: 3rem;
            height: 2px;
            background-color: $color-grey-dark-3;
            display: inline-block;
        }

        &::after,
        &::before{
            content: '';

            position: absolute;
            left: 0;
            transition: all .2s;

        }
        &::before{
            top:-.8rem;
        }
        &::after{
            bottom: -.8rem;
        }
    }


    &__button:hover &__icon::before{
        top: -1rem;
    }
    &__button:hover &__icon::after{
        top: 1rem;
    }



    &__checkbox:checked ~ &__button &__icon{
        background-color: transparent;
    }
    &__checkbox:checked ~ &__button &__icon::before{
        transform: rotate(135deg);
        top: 0;
    }
    &__checkbox:checked ~ &__button &__icon::after{
        transform: rotate(-135deg);
        top: 0;
    }
}